.metamask-connect {
  margin: 10px;
  border: solid 1px #e4761b;
  color: #e4761b;
  font-weight: bold;
  box-shadow: rgba(157, 75, 19, 0.9) 0px 0px 10px 0px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.metamask-connect:hover {
  background: rgba(228, 118, 27, 0.5);
  cursor: pointer;
}

.metamask-connect:active {
  transform: translateY(1px) translateX(1px);
}

.metamask-connect.goerli {
  color: purple;
  border: solid 1px purple;
  box-shadow: rgba(128, 0, 128, 0.9) 0px 0px 10px 0px;
}

.metamask-connect.goerli:hover {
  background: rgba(128, 0, 128, 0.5);
  cursor: pointer;
}
