.mint-alert {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  background: forestgreen;
  transition: all .5s ease-in-out;
  height: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  &.on {
    transform: translateY(50px);
  }
}
